/.venv/
/.idea/
*.csv
/findings-load-data/run-2/output.txt
/findings-load-data/run-4/output.txt
/findings-load-data/run-2/zeta_shifts.csv
/findings-load-data/run-4/zeta_shifts.csv
/findings-load-data/run-5/output.txt
*.pkl
*.bak
/data/
/applications/wave-crispr-signal/.idea/misc.xml
/applications/wave-crispr-signal/.idea/modules.xml
/applications/wave-crispr-signal/.idea/inspectionProfiles/profiles_settings.xml
/applications/wave-crispr-signal/.idea/vcs.xml
/applications/wave-crispr-signal/.idea/wave-crispr-signal.iml
